@model Banker.Models.Profit.ProfitsModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">
    <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="tab-cards" data-toggle="pill" href="#v-pills-cards" role="tab" aria-controls="v-pills-cards" aria-selected="true">Cards</a>
            <a class="nav-link" id="tab-profit" data-toggle="pill" href="#v-pills-profit" role="tab" aria-controls="v-pills-profit" aria-selected="false">Profit</a>
        </div>
    </div>
    <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-cards" role="tabpanel" aria-labelledby="tab-cards">
                @{
                    WebGrid grid = new WebGrid(Model.Cards, rowsPerPage: 5, canPage: true);
                }
                @grid.Table(
                headerStyle : "thead-dark",
                columns :
                grid.Columns(
                            grid.Column("Id"),
                            grid.Column("Name"),
                            grid.Column("Number"),
                            grid.Column("Balans"),
                            grid.Column("Description")),
                tableStyle: "table table-bordered table-hover"
                )

                @grid.PagerList(paginationStyle: "pagination justify-content-end")
            </div>
            <div class="tab-pane fade" id="v-pills-profit" role="tabpanel" aria-labelledby="tab-profit">
                <div>
                    @{
                        WebGrid grid2 = new WebGrid(Model.Profit, rowsPerPage: 5, canPage: true);
                    }
                    @grid2.Table(
                    headerStyle : "thead-dark",
                    columns :
                    grid2.Columns(
                                grid2.Column("Id"),
                                grid2.Column("CardId", header: "Card"),
                                grid2.Column("Amount"),
                                grid2.Column("Profit"),
                                grid2.Column("Description")),
                    tableStyle: "table table-bordered table-hover"
                    )

                    @grid2.PagerList(paginationStyle: "pagination justify-content-end")
                </div>
            </div>
        </div>
    </div>
</div>
